In [144]:
# http://api.nbp.pl/

In [145]:
import os
import pandas as pd
from datetime import date
from datetime import date, datetime, timedelta

import time

In [146]:
os.getcwd()

'/home/jovyan/work/notebooks'

In [147]:
os.listdir()

['.ipynb_checkpoints',
 'excursions_data.csv',
 'hello-world-notebook.ipynb',
 'holidays_and_sundays_pl.ipynb',
 'load-postgres-notebook.ipynb',
 'nbp_exchangerates.csv',
 'nbp_exchange_rates.ipynb',
 'read-postgres-notebook.ipynb']

In [148]:
ROOT_PATH_DAG = "/usr/local/airflow/dags/nbp_exchangerates"

In [149]:
INGEST_PATH = f"{ROOT_PATH_DAG}/ingest"

In [150]:
INGEST_PATH

'/usr/local/airflow/dags/nbp_exchangerates/ingest'

In [151]:
df = pd.read_csv('excursions_data.csv')

In [152]:
df[df['SP_BookingNumber'] == 'S0064828']

     SP_BookingNumber SP_Destination SP_PaidCurrency SP_Paid SP_TourDate
2154         S0064828            HRG             EUR  207,97  2021-12-28
2155         S0064828            HRG             EUR  126,04  2022-01-01
2156         S0064828            HRG             EUR   252,1  2021-12-26

In [153]:
df[df['SP_BookingNumber'] == 'S0042606']

      SP_BookingNumber SP_Destination SP_PaidCurrency SP_Paid SP_TourDate
20341         S0042606            HRG             EUR  626,14  2021-01-03

In [154]:
df[df['SP_BookingNumber'] == 'S0029001|']

Empty DataFrame
Columns: [SP_BookingNumber, SP_Destination, SP_PaidCurrency, SP_Paid, SP_TourDate]
Index: []

In [101]:
df[df['SP_BookingNumber'] == 'S0000258|']

Empty DataFrame
Columns: [SP_BookingNumber, SP_Destination, SP_PaidCurrency, SP_Paid, SP_TourDate]
Index: []

In [102]:
df.describe(
    include='all',
    datetime_is_numeric=True
)

       SP_BookingNumber SP_Destination SP_PaidCurrency SP_Paid SP_TourDate
count             39202          39202           39202   39202       39202
unique            36174             95               7    6582         928
top            S0045875            TIA             PLN  362,25  2021-07-30
freq                 48           5209           26291     625         277

In [103]:
df['SP_PaidCurrency'].unique()

array(['CZK', 'EUR', 'GBP', 'HUF', 'RUB', 'USD', 'PLN'], dtype=object)

In [104]:
sorted(set(df['SP_TourDate']))

['2019-05-29',
 '2019-06-05',
 '2019-06-06',
 '2019-06-07',
 '2019-06-08',
 '2019-06-09',
 '2019-06-10',
 '2019-06-11',
 '2019-06-12',
 '2019-06-13',
 '2019-06-14',
 '2019-06-15',
 '2019-06-16',
 '2019-06-17',
 '2019-06-18',
 '2019-06-19',
 '2019-06-20',
 '2019-06-21',
 '2019-06-22',
 '2019-06-23',
 '2019-06-24',
 '2019-06-25',
 '2019-06-26',
 '2019-06-27',
 '2019-06-28',
 '2019-06-29',
 '2019-06-30',
 '2019-07-01',
 '2019-07-02',
 '2019-07-03',
 '2019-07-04',
 '2019-07-05',
 '2019-07-06',
 '2019-07-07',
 '2019-07-08',
 '2019-07-09',
 '2019-07-10',
 '2019-07-11',
 '2019-07-12',
 '2019-07-13',
 '2019-07-14',
 '2019-07-15',
 '2019-07-16',
 '2019-07-17',
 '2019-07-18',
 '2019-07-19',
 '2019-07-20',
 '2019-07-21',
 '2019-07-22',
 '2019-07-23',
 '2019-07-24',
 '2019-07-25',
 '2019-07-26',
 '2019-07-27',
 '2019-07-28',
 '2019-07-29',
 '2019-07-30',
 '2019-07-31',
 '2019-08-01',
 '2019-08-02',
 '2019-08-03',
 '2019-08-04',
 '2019-08-05',
 '2019-08-06',
 '2019-08-07',
 '2019-08-08',
 '2019-08-09',
 '2019-08-10',
 '2019-08-11',
 '2019-08-12',
 '2019-08-13',
 '2019-08-14',
 '2019-08-15',
 '2019-08-16',
 '2019-08-17',
 '2019-08-18',
 '2019-08-19',
 '2019-08-20',
 '2019-08-21',
 '2019-08-22',
 '2019-08-23',
 '2019-08-24',
 '2019-08-25',
 '2019-08-26',
 '2019-08-27',
 '2019-08-28',
 '2019-08-29',
 '2019-08-30',
 '2019-08-31',
 '2019-09-01',
 '2019-09-02',
 '2019-09-03',
 '2019-09-04',
 '2019-09-05',
 '2019-09-06',
 '2019-09-07',
 '2019-09-08',
 '2019-09-09',
 '2019-09-10',
 '2019-09-11',
 '2019-09-12',
 '2019-09-13',
 '2019-09-14',
 '2019-09-15',
 '2019-09-16',
 '2019-09-17',
 '2019-09-18',
 '2019-09-19',
 '2019-09-20',
 '2019-09-21',
 '2019-09-22',
 '2019-09-23',
 '2019-09-24',
 '2019-09-25',
 '2019-09-26',
 '2019-09-27',
 '2019-09-28',
 '2019-09-29',
 '2019-09-30',
 '2019-10-01',
 '2019-10-02',
 '2019-10-03',
 '2019-10-04',
 '2019-10-05',
 '2019-10-06',
 '2019-10-07',
 '2019-10-08',
 '2019-10-09',
 '2019-10-10',
 '2019-10-11',
 '2019-10-12',
 '2019-10-13',
 '2019-10-14',
 '2019-10-15',
 '2019-10-16',
 '2019-10-17',
 '2019-10-18',
 '2019-10-19',
 '2019-10-20',
 '2019-10-21',
 '2019-10-22',
 '2019-10-23',
 '2019-10-24',
 '2019-10-25',
 '2019-10-26',
 '2019-10-27',
 '2019-10-28',
 '2019-10-29',
 '2019-10-30',
 '2019-10-31',
 '2019-11-01',
 '2019-11-02',
 '2019-11-03',
 '2019-11-04',
 '2019-11-05',
 '2019-11-06',
 '2019-11-07',
 '2019-11-08',
 '2019-11-09',
 '2019-11-10',
 '2019-11-11',
 '2019-11-12',
 '2019-11-13',
 '2019-11-14',
 '2019-11-15',
 '2019-11-16',
 '2019-11-17',
 '2019-11-18',
 '2019-11-19',
 '2019-11-20',
 '2019-11-21',
 '2019-11-22',
 '2019-11-23',
 '2019-11-24',
 '2019-11-25',
 '2019-11-26',
 '2019-11-27',
 '2019-11-28',
 '2019-11-29',
 '2019-11-30',
 '2019-12-01',
 '2019-12-02',
 '2019-12-03',
 '2019-12-04',
 '2019-12-05',
 '2019-12-06',
 '2019-12-07',
 '2019-12-08',
 '2019-12-09',
 '2019-12-10',
 '2019-12-11',
 '2019-12-12',
 '2019-12-13',
 '2019-12-14',
 '2019-12-15',
 '2019-12-16',
 '2019-12-17',
 '2019-12-18',
 '2019-12-19',
 '2019-12-20',
 '2019-12-21',
 '2019-12-22',
 '2019-12-23',
 '2019-12-24',
 '2019-12-25',
 '2019-12-26',
 '2019-12-27',
 '2019-12-28',
 '2019-12-29',
 '2019-12-30',
 '2019-12-31',
 '2020-01-01',
 '2020-01-02',
 '2020-01-03',
 '2020-01-04',
 '2020-01-05',
 '2020-01-06',
 '2020-01-07',
 '2020-01-08',
 '2020-01-09',
 '2020-01-10',
 '2020-01-11',
 '2020-01-12',
 '2020-01-13',
 '2020-01-14',
 '2020-01-15',
 '2020-01-16',
 '2020-01-17',
 '2020-01-18',
 '2020-01-19',
 '2020-01-20',
 '2020-01-21',
 '2020-01-22',
 '2020-01-23',
 '2020-01-24',
 '2020-01-25',
 '2020-01-26',
 '2020-01-27',
 '2020-01-28',
 '2020-01-29',
 '2020-01-30',
 '2020-01-31',
 '2020-02-01',
 '2020-02-02',
 '2020-02-03',
 '2020-02-04',
 '2020-02-05',
 '2020-02-06',
 '2020-02-07',
 '2020-02-08',
 '2020-02-09',
 '2020-02-10',
 '2020-02-11',
 '2020-02-12',
 '2020-02-13',
 '2020-02-14',
 '2020-02-15',
 '2020-02-16',
 '2020-02-17',
 '2020-02-18',
 '2020-02-19',
 '2020-02-20',
 '2020-02-21',
 '2020-02-22',
 '2020-02-23',
 '2020-02-24',
 '2020-02-25',
 '2020-02-26',
 '2020-02-27',
 '2020-02-28',
 '2020-02-29',
 '2020-03-01',
 '2020-03-02',
 '2020-03-03',
 '2020-03-04',
 '2020-03-05',
 '2020-03-06',
 '2020-03-07',
 '2020-03-08',
 '2020-03-09',
 '2020-03-10',
 '2020-03-11',
 '2020-03-12',
 '2020-03-13',
 '2020-03-14',
 '2020-03-15',
 '2020-03-16',
 '2020-03-17',
 '2020-03-18',
 '2020-03-19',
 '2020-03-20',
 '2020-03-21',
 '2020-03-22',
 '2020-03-23',
 '2020-03-24',
 '2020-03-25',
 '2020-03-26',
 '2020-03-27',
 '2020-03-28',
 '2020-03-29',
 '2020-03-30',
 '2020-03-31',
 '2020-04-01',
 '2020-04-02',
 '2020-04-03',
 '2020-04-04',
 '2020-04-05',
 '2020-04-06',
 '2020-04-07',
 '2020-04-08',
 '2020-04-09',
 '2020-04-11',
 '2020-04-12',
 '2020-04-13',
 '2020-04-14',
 '2020-04-16',
 '2020-04-17',
 '2020-04-18',
 '2020-04-19',
 '2020-04-20',
 '2020-04-21',
 '2020-04-22',
 '2020-04-23',
 '2020-04-24',
 '2020-04-25',
 '2020-04-27',
 '2020-04-28',
 '2020-04-29',
 '2020-04-30',
 '2020-05-01',
 '2020-05-02',
 '2020-05-03',
 '2020-05-04',
 '2020-05-05',
 '2020-05-06',
 '2020-05-07',
 '2020-05-08',
 '2020-05-09',
 '2020-05-10',
 '2020-05-11',
 '2020-05-12',
 '2020-05-13',
 '2020-05-15',
 '2020-05-17',
 '2020-05-18',
 '2020-05-19',
 '2020-05-20',
 '2020-05-21',
 '2020-05-22',
 '2020-05-23',
 '2020-05-24',
 '2020-05-25',
 '2020-05-26',
 '2020-05-27',
 '2020-05-28',
 '2020-05-29',
 '2020-05-30',
 '2020-05-31',
 '2020-06-01',
 '2020-06-02',
 '2020-06-03',
 '2020-06-04',
 '2020-06-05',
 '2020-06-06',
 '2020-06-07',
 '2020-06-08',
 '2020-06-09',
 '2020-06-10',
 '2020-06-11',
 '2020-06-12',
 '2020-06-13',
 '2020-06-14',
 '2020-06-15',
 '2020-06-16',
 '2020-06-17',
 '2020-06-18',
 '2020-06-19',
 '2020-06-20',
 '2020-06-21',
 '2020-06-22',
 '2020-06-23',
 '2020-06-24',
 '2020-06-25',
 '2020-06-26',
 '2020-06-27',
 '2020-06-28',
 '2020-06-29',
 '2020-06-30',
 '2020-07-01',
 '2020-07-02',
 '2020-07-03',
 '2020-07-04',
 '2020-07-05',
 '2020-07-06',
 '2020-07-07',
 '2020-07-08',
 '2020-07-09',
 '2020-07-10',
 '2020-07-11',
 '2020-07-12',
 '2020-07-13',
 '2020-07-14',
 '2020-07-15',
 '2020-07-16',
 '2020-07-17',
 '2020-07-18',
 '2020-07-19',
 '2020-07-20',
 '2020-07-21',
 '2020-07-22',
 '2020-07-23',
 '2020-07-24',
 '2020-07-25',
 '2020-07-26',
 '2020-07-27',
 '2020-07-28',
 '2020-07-29',
 '2020-07-30',
 '2020-07-31',
 '2020-08-01',
 '2020-08-02',
 '2020-08-03',
 '2020-08-04',
 '2020-08-05',
 '2020-08-06',
 '2020-08-07',
 '2020-08-08',
 '2020-08-09',
 '2020-08-10',
 '2020-08-11',
 '2020-08-12',
 '2020-08-13',
 '2020-08-14',
 '2020-08-15',
 '2020-08-16',
 '2020-08-17',
 '2020-08-18',
 '2020-08-19',
 '2020-08-20',
 '2020-08-21',
 '2020-08-22',
 '2020-08-23',
 '2020-08-24',
 '2020-08-25',
 '2020-08-26',
 '2020-08-27',
 '2020-08-28',
 '2020-08-29',
 '2020-08-30',
 '2020-08-31',
 '2020-09-01',
 '2020-09-02',
 '2020-09-03',
 '2020-09-04',
 '2020-09-05',
 '2020-09-06',
 '2020-09-07',
 '2020-09-08',
 '2020-09-09',
 '2020-09-10',
 '2020-09-11',
 '2020-09-12',
 '2020-09-13',
 '2020-09-14',
 '2020-09-15',
 '2020-09-16',
 '2020-09-17',
 '2020-09-18',
 '2020-09-19',
 '2020-09-20',
 '2020-09-21',
 '2020-09-22',
 '2020-09-23',
 '2020-09-24',
 '2020-09-25',
 '2020-09-26',
 '2020-09-27',
 '2020-09-28',
 '2020-09-29',
 '2020-09-30',
 '2020-10-01',
 '2020-10-02',
 '2020-10-03',
 '2020-10-04',
 '2020-10-05',
 '2020-10-06',
 '2020-10-07',
 '2020-10-08',
 '2020-10-09',
 '2020-10-10',
 '2020-10-11',
 '2020-10-12',
 '2020-10-13',
 '2020-10-14',
 '2020-10-15',
 '2020-10-16',
 '2020-10-17',
 '2020-10-18',
 '2020-10-19',
 '2020-10-21',
 '2020-10-22',
 '2020-10-23',
 '2020-10-24',
 '2020-10-25',
 '2020-10-26',
 '2020-10-27',
 '2020-10-28',
 '2020-10-30',
 '2020-10-31',
 '2020-11-01',
 '2020-11-02',
 '2020-11-03',
 '2020-11-07',
 '2020-11-08',
 '2020-11-10',
 '2020-11-11',
 '2020-11-12',
 '2020-11-13',
 '2020-11-14',
 '2020-11-17',
 '2020-11-18',
 '2020-11-20',
 '2020-11-24',
 '2020-11-25',
 '2020-11-26',
 '2020-11-27',
 '2020-11-28',
 '2020-11-29',
 '2020-11-30',
 '2020-12-01',
 '2020-12-03',
 '2020-12-04',
 '2020-12-06',
 '2020-12-08',
 '2020-12-09',
 '2020-12-10',
 '2020-12-11',
 '2020-12-12',
 '2020-12-14',
 '2020-12-15',
 '2020-12-16',
 '2020-12-17',
 '2020-12-18',
 '2020-12-19',
 '2020-12-20',
 '2020-12-21',
 '2020-12-22',
 '2020-12-23',
 '2020-12-24',
 '2020-12-25',
 '2020-12-26',
 '2020-12-28',
 '2020-12-29',
 '2020-12-30',
 '2020-12-31',
 '2021-01-01',
 '2021-01-02',
 '2021-01-03',
 '2021-01-04',
 '2021-01-05',
 '2021-01-06',
 '2021-01-07',
 '2021-01-08',
 '2021-01-09',
 '2021-01-11',
 '2021-01-12',
 '2021-01-13',
 '2021-01-14',
 '2021-01-15',
 '2021-01-16',
 '2021-01-18',
 '2021-01-19',
 '2021-01-20',
 '2021-01-21',
 '2021-01-22',
 '2021-01-23',
 '2021-01-24',
 '2021-01-25',
 '2021-01-26',
 '2021-01-27',
 '2021-01-28',
 '2021-01-29',
 '2021-01-30',
 '2021-01-31',
 '2021-02-01',
 '2021-02-02',
 '2021-02-03',
 '2021-02-04',
 '2021-02-05',
 '2021-02-06',
 '2021-02-07',
 '2021-02-08',
 '2021-02-09',
 '2021-02-10',
 '2021-02-11',
 '2021-02-12',
 '2021-02-13',
 '2021-02-14',
 '2021-02-15',
 '2021-02-16',
 '2021-02-17',
 '2021-02-18',
 '2021-02-19',
 '2021-02-20',
 '2021-02-21',
 '2021-02-22',
 '2021-02-23',
 '2021-02-24',
 '2021-02-25',
 '2021-02-26',
 '2021-02-27',
 '2021-02-28',
 '2021-03-01',
 '2021-03-02',
 '2021-03-03',
 '2021-03-04',
 '2021-03-05',
 '2021-03-06',
 '2021-03-07',
 '2021-03-08',
 '2021-03-09',
 '2021-03-10',
 '2021-03-11',
 '2021-03-12',
 '2021-03-13',
 '2021-03-14',
 '2021-03-15',
 '2021-03-16',
 '2021-03-17',
 '2021-03-18',
 '2021-03-19',
 '2021-03-21',
 '2021-03-22',
 '2021-03-23',
 '2021-03-24',
 '2021-03-25',
 '2021-03-26',
 '2021-03-28',
 '2021-03-29',
 '2021-03-30',
 '2021-03-31',
 '2021-04-01',
 '2021-04-02',
 '2021-04-04',
 '2021-04-05',
 '2021-04-06',
 '2021-04-07',
 '2021-04-08',
 '2021-04-09',
 '2021-04-11',
 '2021-04-12',
 '2021-04-13',
 '2021-04-14',
 '2021-04-15',
 '2021-04-16',
 '2021-04-18',
 '2021-04-19',
 '2021-04-20',
 '2021-04-21',
 '2021-04-22',
 '2021-04-23',
 '2021-04-25',
 '2021-04-26',
 '2021-04-27',
 '2021-04-28',
 '2021-04-29',
 '2021-04-30',
 '2021-05-01',
 '2021-05-02',
 '2021-05-03',
 '2021-05-04',
 '2021-05-05',
 '2021-05-06',
 '2021-05-07',
 '2021-05-08',
 '2021-05-09',
 '2021-05-10',
 '2021-05-11',
 '2021-05-12',
 '2021-05-13',
 '2021-05-14',
 '2021-05-15',
 '2021-05-16',
 '2021-05-17',
 '2021-05-18',
 '2021-05-19',
 '2021-05-20',
 '2021-05-21',
 '2021-05-22',
 '2021-05-23',
 '2021-05-24',
 '2021-05-25',
 '2021-05-26',
 '2021-05-27',
 '2021-05-28',
 '2021-05-29',
 '2021-05-30',
 '2021-05-31',
 '2021-06-01',
 '2021-06-02',
 '2021-06-03',
 '2021-06-04',
 '2021-06-05',
 '2021-06-06',
 '2021-06-07',
 '2021-06-08',
 '2021-06-09',
 '2021-06-10',
 '2021-06-11',
 '2021-06-12',
 '2021-06-13',
 '2021-06-14',
 '2021-06-15',
 '2021-06-16',
 '2021-06-17',
 '2021-06-18',
 '2021-06-19',
 '2021-06-20',
 '2021-06-21',
 '2021-06-22',
 '2021-06-23',
 '2021-06-24',
 '2021-06-25',
 '2021-06-26',
 '2021-06-27',
 '2021-06-28',
 '2021-06-29',
 '2021-06-30',
 '2021-07-01',
 '2021-07-02',
 '2021-07-03',
 '2021-07-04',
 '2021-07-05',
 '2021-07-06',
 '2021-07-07',
 '2021-07-08',
 '2021-07-09',
 '2021-07-10',
 '2021-07-11',
 '2021-07-12',
 '2021-07-13',
 '2021-07-14',
 '2021-07-15',
 '2021-07-16',
 '2021-07-17',
 '2021-07-18',
 '2021-07-19',
 '2021-07-20',
 '2021-07-21',
 '2021-07-22',
 '2021-07-23',
 '2021-07-24',
 '2021-07-25',
 '2021-07-26',
 '2021-07-27',
 '2021-07-28',
 '2021-07-29',
 '2021-07-30',
 '2021-07-31',
 '2021-08-01',
 '2021-08-02',
 '2021-08-03',
 '2021-08-04',
 '2021-08-05',
 '2021-08-06',
 '2021-08-07',
 '2021-08-08',
 '2021-08-09',
 '2021-08-10',
 '2021-08-11',
 '2021-08-12',
 '2021-08-13',
 '2021-08-14',
 '2021-08-15',
 '2021-08-16',
 '2021-08-17',
 '2021-08-18',
 '2021-08-19',
 '2021-08-20',
 '2021-08-21',
 '2021-08-22',
 '2021-08-23',
 '2021-08-24',
 '2021-08-25',
 '2021-08-26',
 '2021-08-27',
 '2021-08-28',
 '2021-08-29',
 '2021-08-30',
 '2021-08-31',
 '2021-09-01',
 '2021-09-02',
 '2021-09-03',
 '2021-09-04',
 '2021-09-05',
 '2021-09-06',
 '2021-09-07',
 '2021-09-08',
 '2021-09-09',
 '2021-09-10',
 '2021-09-11',
 '2021-09-12',
 '2021-09-13',
 '2021-09-14',
 '2021-09-15',
 '2021-09-16',
 '2021-09-17',
 '2021-09-18',
 '2021-09-19',
 '2021-09-20',
 '2021-09-21',
 '2021-09-22',
 '2021-09-23',
 '2021-09-24',
 '2021-09-25',
 '2021-09-26',
 '2021-09-27',
 '2021-09-28',
 '2021-09-29',
 '2021-09-30',
 '2021-10-01',
 '2021-10-02',
 '2021-10-03',
 '2021-10-04',
 '2021-10-05',
 '2021-10-06',
 '2021-10-07',
 '2021-10-08',
 '2021-10-09',
 '2021-10-10',
 '2021-10-11',
 '2021-10-12',
 '2021-10-13',
 '2021-10-14',
 '2021-10-15',
 '2021-10-16',
 '2021-10-17',
 '2021-10-18',
 '2021-10-19',
 '2021-10-20',
 '2021-10-21',
 '2021-10-22',
 '2021-10-23',
 '2021-10-24',
 '2021-10-25',
 '2021-10-26',
 '2021-10-27',
 '2021-10-28',
 '2021-10-29',
 '2021-10-30',
 '2021-10-31',
 '2021-11-01',
 '2021-11-02',
 '2021-11-03',
 '2021-11-04',
 '2021-11-05',
 '2021-11-06',
 '2021-11-07',
 '2021-11-08',
 '2021-11-09',
 '2021-11-10',
 '2021-11-11',
 '2021-11-12',
 '2021-11-13',
 '2021-11-14',
 '2021-11-15',
 '2021-11-16',
 '2021-11-17',
 '2021-11-18',
 '2021-11-19',
 '2021-11-20',
 '2021-11-21',
 '2021-11-22',
 '2021-11-23',
 '2021-11-24',
 '2021-11-25',
 '2021-11-26',
 '2021-11-27',
 '2021-11-28',
 '2021-11-29',
 '2021-11-30',
 '2021-12-01',
 '2021-12-02',
 '2021-12-03',
 '2021-12-04',
 '2021-12-05',
 '2021-12-06',
 '2021-12-07',
 '2021-12-08',
 '2021-12-09',
 '2021-12-10',
 '2021-12-11',
 '2021-12-12',
 '2021-12-13',
 '2021-12-14',
 '2021-12-15',
 '2021-12-16',
 '2021-12-17',
 '2021-12-18',
 '2021-12-19',
 '2021-12-20',
 '2021-12-21',
 '2021-12-22',
 '2021-12-23',
 '2021-12-24',
 '2021-12-25',
 '2021-12-26',
 '2021-12-27',
 '2021-12-28',
 '2021-12-29',
 '2021-12-30',
 '2021-12-31',
 '2022-01-01',
 '2022-01-02',
 '2022-01-03',
 '2022-01-04',
 '2022-01-05',
 '2022-01-06',
 '2022-01-07',
 '2022-01-08',
 '2022-01-09',
 '2022-01-10',
 '2022-01-11',
 '2022-01-12',
 '2022-01-13',
 '2022-01-14',
 '2022-09-01',
 '2022-09-02']

In [105]:
sorted(set(df['SP_TourDate']))[0]

'2019-05-29'

In [106]:
currency_code = 'CHF'

In [107]:
import requests
 
url_template = f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}"
while True:
    value, currency_code = input("Podaj kwotę do przeliczenia. Np 12.5 CHF\n").split()
    rate = requests.get(url_template.format(currency_code)).json()["rates"][0]["mid"]
    print(f"{value} {currency_code} = {rate * float(value)} PLN")
    break

Podaj kwotę do przeliczenia. Np 12.5 CHF
12.5 CHF
12.5 CHF = 60.14000000000001 PLN

In [108]:
url_template = f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}"

In [109]:
url_template

'http://api.nbp.pl/api/exchangerates/rates/a/CHF'

In [110]:
url_template.format('CHF')

'http://api.nbp.pl/api/exchangerates/rates/a/CHF'

In [111]:
rate = requests.get(url_template.format(currency_code)).json()["rates"][0]["mid"]

In [112]:
rate

4.8112

In [38]:
currency_code = 'EUR'

In [39]:
res = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/2012-01-01/2012-01-31/").json()['rates']

In [40]:
pd.DataFrame(res)

               no effectiveDate     mid
0    1/A/NBP/2012    2012-01-02  4.4640
1    2/A/NBP/2012    2012-01-03  4.4597
2    3/A/NBP/2012    2012-01-04  4.4753
3    4/A/NBP/2012    2012-01-05  4.5135
4    5/A/NBP/2012    2012-01-09  4.4902
5    6/A/NBP/2012    2012-01-10  4.4883
6    7/A/NBP/2012    2012-01-11  4.4645
7    8/A/NBP/2012    2012-01-12  4.4532
8    9/A/NBP/2012    2012-01-13  4.4040
9   10/A/NBP/2012    2012-01-16  4.4056
10  11/A/NBP/2012    2012-01-17  4.3708
11  12/A/NBP/2012    2012-01-18  4.3491
12  13/A/NBP/2012    2012-01-19  4.3391
13  14/A/NBP/2012    2012-01-20  4.3260
14  15/A/NBP/2012    2012-01-23  4.3111
15  16/A/NBP/2012    2012-01-24  4.2885
16  17/A/NBP/2012    2012-01-25  4.2855
17  18/A/NBP/2012    2012-01-26  4.2431
18  19/A/NBP/2012    2012-01-27  4.2223
19  20/A/NBP/2012    2012-01-30  4.2589
20  21/A/NBP/2012    2012-01-31  4.2270

In [41]:
currency_codes = sorted(set(df['SP_PaidCurrency']))
years = range(2019, 2023)

In [42]:
currency_codes

['CZK', 'EUR', 'GBP', 'HUF', 'PLN', 'RUB', 'USD']

In [43]:
currency_codes.remove('PLN')
# currency_codes.remove('CZK')

In [44]:
# currency_codes = ['CZK', 'EUR']

In [45]:
for currency_code in currency_codes:
    print(currency_code)

CZK
EUR
GBP
HUF
RUB
USD

In [96]:
# 2019-05-29
start = date(2019, 5, 29)

In [97]:
start

datetime.date(2019, 5, 29)

In [98]:
today = date.today()

In [99]:
today

datetime.date(2022, 8, 31)

In [100]:
yesterday = today - timedelta(days=1)

In [101]:
yesterday

datetime.date(2022, 8, 30)

In [102]:
yesterday.year - 1

2021

In [103]:
today

datetime.date(2022, 8, 31)

In [104]:
# import codecs

In [105]:
# res = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/last/10/?format=json")

In [106]:
# 2019

In [107]:
yesterday.year - 3

2019

In [108]:
output = pd.DataFrame()
year = yesterday.year - 3

for currency_code in currency_codes:
    print(currency_code)
    print(year)
#         res = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency}/{year}-01-01/{year}-12-31/").json()
    print(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{year}-01-01/{year}-12-31/")
    respond = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{year}-01-01/{year}-12-31/").json()['rates']
    json_norm = pd.json_normalize(respond)
    json_norm['effectiveDate'] = pd.to_datetime(json_norm['effectiveDate'])
    json_norm['exchange_rate'] = currency_code
    print(json_norm)
    output = pd.concat([output, json_norm], ignore_index=True)

CZK
2019
http://api.nbp.pl/api/exchangerates/rates/a/CZK/2019-01-01/2019-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2019    2019-01-02  0.1671           CZK
1    002/A/NBP/2019    2019-01-03  0.1672           CZK
2    003/A/NBP/2019    2019-01-04  0.1679           CZK
3    004/A/NBP/2019    2019-01-07  0.1682           CZK
4    005/A/NBP/2019    2019-01-08  0.1678           CZK
..              ...           ...     ...           ...
246  247/A/NBP/2019    2019-12-23  0.1671           CZK
247  248/A/NBP/2019    2019-12-24  0.1673           CZK
248  249/A/NBP/2019    2019-12-27  0.1673           CZK
249  250/A/NBP/2019    2019-12-30  0.1673           CZK
250  251/A/NBP/2019    2019-12-31  0.1676           CZK

[251 rows x 4 columns]
EUR
2019
http://api.nbp.pl/api/exchangerates/rates/a/EUR/2019-01-01/2019-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2019    2019-01-02  4.3016           EUR
1    002/A/NBP/2019    2019-01-03  4.3030           EUR
2    003/A/NBP/2019    2019-01-04  4.3018           EUR
3    004/A/NBP/2019    2019-01-07  4.2989           EUR
4    005/A/NBP/2019    2019-01-08  4.3013           EUR
..              ...           ...     ...           ...
246  247/A/NBP/2019    2019-12-23  4.2554           EUR
247  248/A/NBP/2019    2019-12-24  4.2624           EUR
248  249/A/NBP/2019    2019-12-27  4.2624           EUR
249  250/A/NBP/2019    2019-12-30  4.2588           EUR
250  251/A/NBP/2019    2019-12-31  4.2585           EUR

[251 rows x 4 columns]
GBP
2019
http://api.nbp.pl/api/exchangerates/rates/a/GBP/2019-01-01/2019-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2019    2019-01-02  4.7737           GBP
1    002/A/NBP/2019    2019-01-03  4.7589           GBP
2    003/A/NBP/2019    2019-01-04  4.7803           GBP
3    004/A/NBP/2019    2019-01-07  4.7907           GBP
4    005/A/NBP/2019    2019-01-08  4.7952           GBP
..              ...           ...     ...           ...
246  247/A/NBP/2019    2019-12-23  4.9952           GBP
247  248/A/NBP/2019    2019-12-24  4.9765           GBP
248  249/A/NBP/2019    2019-12-27  5.0019           GBP
249  250/A/NBP/2019    2019-12-30  4.9883           GBP
250  251/A/NBP/2019    2019-12-31  4.9971           GBP

[251 rows x 4 columns]
HUF
2019
http://api.nbp.pl/api/exchangerates/rates/a/HUF/2019-01-01/2019-12-31/
                 no effectiveDate       mid exchange_rate
0    001/A/NBP/2019    2019-01-02  0.013353           HUF
1    002/A/NBP/2019    2019-01-03  0.013341           HUF
2    003/A/NBP/2019    2019-01-04  0.013390           HUF
3    004/A/NBP/2019    2019-01-07  0.013385           HUF
4    005/A/NBP/2019    2019-01-08  0.013384           HUF
..              ...           ...       ...           ...
246  247/A/NBP/2019    2019-12-23  0.012862           HUF
247  248/A/NBP/2019    2019-12-24  0.012867           HUF
248  249/A/NBP/2019    2019-12-27  0.012884           HUF
249  250/A/NBP/2019    2019-12-30  0.012880           HUF
250  251/A/NBP/2019    2019-12-31  0.012885           HUF

[251 rows x 4 columns]
RUB
2019
http://api.nbp.pl/api/exchangerates/rates/a/RUB/2019-01-01/2019-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2019    2019-01-02  0.0541           RUB
1    002/A/NBP/2019    2019-01-03  0.0548           RUB
2    003/A/NBP/2019    2019-01-04  0.0552           RUB
3    004/A/NBP/2019    2019-01-07  0.0558           RUB
4    005/A/NBP/2019    2019-01-08  0.0560           RUB
..              ...           ...     ...           ...
246  247/A/NBP/2019    2019-12-23  0.0616           RUB
247  248/A/NBP/2019    2019-12-24  0.0620           RUB
248  249/A/NBP/2019    2019-12-27  0.0617           RUB
249  250/A/NBP/2019    2019-12-30  0.0616           RUB
250  251/A/NBP/2019    2019-12-31  0.0611           RUB

[251 rows x 4 columns]
USD
2019
http://api.nbp.pl/api/exchangerates/rates/a/USD/2019-01-01/2019-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2019    2019-01-02  3.7619           USD
1    002/A/NBP/2019    2019-01-03  3.7827           USD
2    003/A/NBP/2019    2019-01-04  3.7720           USD
3    004/A/NBP/2019    2019-01-07  3.7575           USD
4    005/A/NBP/2019    2019-01-08  3.7559           USD
..              ...           ...     ...           ...
246  247/A/NBP/2019    2019-12-23  3.8394           USD
247  248/A/NBP/2019    2019-12-24  3.8487           USD
248  249/A/NBP/2019    2019-12-27  3.8266           USD
249  250/A/NBP/2019    2019-12-30  3.8027           USD
250  251/A/NBP/2019    2019-12-31  3.7977           USD

[251 rows x 4 columns]

In [42]:
output

                  no effectiveDate     mid exchange_rate
0     001/A/NBP/2019    2019-01-02  0.1671           CZK
1     002/A/NBP/2019    2019-01-03  0.1672           CZK
2     003/A/NBP/2019    2019-01-04  0.1679           CZK
3     004/A/NBP/2019    2019-01-07  0.1682           CZK
4     005/A/NBP/2019    2019-01-08  0.1678           CZK
...              ...           ...     ...           ...
1501  247/A/NBP/2019    2019-12-23  3.8394           USD
1502  248/A/NBP/2019    2019-12-24  3.8487           USD
1503  249/A/NBP/2019    2019-12-27  3.8266           USD
1504  250/A/NBP/2019    2019-12-30  3.8027           USD
1505  251/A/NBP/2019    2019-12-31  3.7977           USD

[1506 rows x 4 columns]

In [43]:
# 2020

In [44]:
# output = pd.DataFrame()
year = yesterday.year - 2

for currency_code in currency_codes:
    print(currency_code)
    print(year)
#         res = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency}/{year}-01-01/{year}-12-31/").json()
    print(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{year}-01-01/{year}-12-31/")
    respond = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{year}-01-01/{year}-12-31/").json()['rates']
    json_norm = pd.json_normalize(respond)
    json_norm['effectiveDate'] = pd.to_datetime(json_norm['effectiveDate'])
    json_norm['exchange_rate'] = currency_code
    print(json_norm)
    output = pd.concat([output, json_norm], ignore_index=True)

CZK
2020
http://api.nbp.pl/api/exchangerates/rates/a/CZK/2020-01-01/2020-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2020    2020-01-02  0.1675           CZK
1    002/A/NBP/2020    2020-01-03  0.1681           CZK
2    003/A/NBP/2020    2020-01-07  0.1677           CZK
3    004/A/NBP/2020    2020-01-08  0.1680           CZK
4    005/A/NBP/2020    2020-01-09  0.1681           CZK
..              ...           ...     ...           ...
250  251/A/NBP/2020    2020-12-24  0.1711           CZK
251  252/A/NBP/2020    2020-12-28  0.1711           CZK
252  253/A/NBP/2020    2020-12-29  0.1715           CZK
253  254/A/NBP/2020    2020-12-30  0.1729           CZK
254  255/A/NBP/2020    2020-12-31  0.1753           CZK

[255 rows x 4 columns]
EUR
2020
http://api.nbp.pl/api/exchangerates/rates/a/EUR/2020-01-01/2020-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2020    2020-01-02  4.2571           EUR
1    002/A/NBP/2020    2020-01-03  4.2569           EUR
2    003/A/NBP/2020    2020-01-07  4.2347           EUR
3    004/A/NBP/2020    2020-01-08  4.2465           EUR
4    005/A/NBP/2020    2020-01-09  4.2459           EUR
..              ...           ...     ...           ...
250  251/A/NBP/2020    2020-12-24  4.5084           EUR
251  252/A/NBP/2020    2020-12-28  4.4879           EUR
252  253/A/NBP/2020    2020-12-29  4.5051           EUR
253  254/A/NBP/2020    2020-12-30  4.5272           EUR
254  255/A/NBP/2020    2020-12-31  4.6148           EUR

[255 rows x 4 columns]
GBP
2020
http://api.nbp.pl/api/exchangerates/rates/a/GBP/2020-01-01/2020-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2020    2020-01-02  5.0211           GBP
1    002/A/NBP/2020    2020-01-03  4.9934           GBP
2    003/A/NBP/2020    2020-01-07  4.9879           GBP
3    004/A/NBP/2020    2020-01-08  5.0018           GBP
4    005/A/NBP/2020    2020-01-09  4.9837           GBP
..              ...           ...     ...           ...
250  251/A/NBP/2020    2020-12-24  5.0286           GBP
251  252/A/NBP/2020    2020-12-28  4.9656           GBP
252  253/A/NBP/2020    2020-12-29  4.9550           GBP
253  254/A/NBP/2020    2020-12-30  5.0102           GBP
254  255/A/NBP/2020    2020-12-31  5.1327           GBP

[255 rows x 4 columns]
HUF
2020
http://api.nbp.pl/api/exchangerates/rates/a/HUF/2020-01-01/2020-12-31/
                 no effectiveDate       mid exchange_rate
0    001/A/NBP/2020    2020-01-02  0.012901           HUF
1    002/A/NBP/2020    2020-01-03  0.012921           HUF
2    003/A/NBP/2020    2020-01-07  0.012805           HUF
3    004/A/NBP/2020    2020-01-08  0.012815           HUF
4    005/A/NBP/2020    2020-01-09  0.012807           HUF
..              ...           ...       ...           ...
250  251/A/NBP/2020    2020-12-24  0.012443           HUF
251  252/A/NBP/2020    2020-12-28  0.012347           HUF
252  253/A/NBP/2020    2020-12-29  0.012386           HUF
253  254/A/NBP/2020    2020-12-30  0.012418           HUF
254  255/A/NBP/2020    2020-12-31  0.012638           HUF

[255 rows x 4 columns]
RUB
2020
http://api.nbp.pl/api/exchangerates/rates/a/RUB/2020-01-01/2020-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2020    2020-01-02  0.0616           RUB
1    002/A/NBP/2020    2020-01-03  0.0615           RUB
2    003/A/NBP/2020    2020-01-07  0.0614           RUB
3    004/A/NBP/2020    2020-01-08  0.0616           RUB
4    005/A/NBP/2020    2020-01-09  0.0625           RUB
..              ...           ...     ...           ...
250  251/A/NBP/2020    2020-12-24  0.0495           RUB
251  252/A/NBP/2020    2020-12-28  0.0497           RUB
252  253/A/NBP/2020    2020-12-29  0.0500           RUB
253  254/A/NBP/2020    2020-12-30  0.0496           RUB
254  255/A/NBP/2020    2020-12-31  0.0501           RUB

[255 rows x 4 columns]
USD
2020
http://api.nbp.pl/api/exchangerates/rates/a/USD/2020-01-01/2020-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2020    2020-01-02  3.8000           USD
1    002/A/NBP/2020    2020-01-03  3.8213           USD
2    003/A/NBP/2020    2020-01-07  3.7861           USD
3    004/A/NBP/2020    2020-01-08  3.8123           USD
4    005/A/NBP/2020    2020-01-09  3.8251           USD
..              ...           ...     ...           ...
250  251/A/NBP/2020    2020-12-24  3.6981           USD
251  252/A/NBP/2020    2020-12-28  3.6639           USD
252  253/A/NBP/2020    2020-12-29  3.6778           USD
253  254/A/NBP/2020    2020-12-30  3.6901           USD
254  255/A/NBP/2020    2020-12-31  3.7584           USD

[255 rows x 4 columns]

In [45]:
output

                  no effectiveDate     mid exchange_rate
0     001/A/NBP/2019    2019-01-02  0.1671           CZK
1     002/A/NBP/2019    2019-01-03  0.1672           CZK
2     003/A/NBP/2019    2019-01-04  0.1679           CZK
3     004/A/NBP/2019    2019-01-07  0.1682           CZK
4     005/A/NBP/2019    2019-01-08  0.1678           CZK
...              ...           ...     ...           ...
3031  251/A/NBP/2020    2020-12-24  3.6981           USD
3032  252/A/NBP/2020    2020-12-28  3.6639           USD
3033  253/A/NBP/2020    2020-12-29  3.6778           USD
3034  254/A/NBP/2020    2020-12-30  3.6901           USD
3035  255/A/NBP/2020    2020-12-31  3.7584           USD

[3036 rows x 4 columns]

In [46]:
# 2021

In [47]:
# output = pd.DataFrame()
year = yesterday.year - 1

for currency_code in currency_codes:
    print(currency_code)
    print(year)
#         res = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency}/{year}-01-01/{year}-12-31/").json()
    print(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{year}-01-01/{year}-12-31/")
    respond = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{year}-01-01/{year}-12-31/").json()['rates']
    json_norm = pd.json_normalize(respond)
    json_norm['effectiveDate'] = pd.to_datetime(json_norm['effectiveDate'])
    json_norm['exchange_rate'] = currency_code
    print(json_norm)
    output = pd.concat([output, json_norm], ignore_index=True)

CZK
2021
http://api.nbp.pl/api/exchangerates/rates/a/CZK/2021-01-01/2021-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2021    2021-01-04  0.1739           CZK
1    002/A/NBP/2021    2021-01-05  0.1735           CZK
2    003/A/NBP/2021    2021-01-07  0.1718           CZK
3    004/A/NBP/2021    2021-01-08  0.1725           CZK
4    005/A/NBP/2021    2021-01-11  0.1728           CZK
..              ...           ...     ...           ...
249  250/A/NBP/2021    2021-12-27  0.1843           CZK
250  251/A/NBP/2021    2021-12-28  0.1840           CZK
251  252/A/NBP/2021    2021-12-29  0.1844           CZK
252  253/A/NBP/2021    2021-12-30  0.1836           CZK
253  254/A/NBP/2021    2021-12-31  0.1850           CZK

[254 rows x 4 columns]
EUR
2021
http://api.nbp.pl/api/exchangerates/rates/a/EUR/2021-01-01/2021-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2021    2021-01-04  4.5485           EUR
1    002/A/NBP/2021    2021-01-05  4.5446           EUR
2    003/A/NBP/2021    2021-01-07  4.4973           EUR
3    004/A/NBP/2021    2021-01-08  4.5189           EUR
4    005/A/NBP/2021    2021-01-11  4.5325           EUR
..              ...           ...     ...           ...
249  250/A/NBP/2021    2021-12-27  4.6239           EUR
250  251/A/NBP/2021    2021-12-28  4.6028           EUR
251  252/A/NBP/2021    2021-12-29  4.5997           EUR
252  253/A/NBP/2021    2021-12-30  4.5915           EUR
253  254/A/NBP/2021    2021-12-31  4.5994           EUR

[254 rows x 4 columns]
GBP
2021
http://api.nbp.pl/api/exchangerates/rates/a/GBP/2021-01-01/2021-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2021    2021-01-04  5.0589           GBP
1    002/A/NBP/2021    2021-01-05  5.0261           GBP
2    003/A/NBP/2021    2021-01-07  4.9832           GBP
3    004/A/NBP/2021    2021-01-08  5.0216           GBP
4    005/A/NBP/2021    2021-01-11  5.0288           GBP
..              ...           ...     ...           ...
249  250/A/NBP/2021    2021-12-27  5.4805           GBP
250  251/A/NBP/2021    2021-12-28  5.4623           GBP
251  252/A/NBP/2021    2021-12-29  5.4693           GBP
252  253/A/NBP/2021    2021-12-30  5.4680           GBP
253  254/A/NBP/2021    2021-12-31  5.4846           GBP

[254 rows x 4 columns]
HUF
2021
http://api.nbp.pl/api/exchangerates/rates/a/HUF/2021-01-01/2021-12-31/
                 no effectiveDate       mid exchange_rate
0    001/A/NBP/2021    2021-01-04  0.012605           HUF
1    002/A/NBP/2021    2021-01-05  0.012577           HUF
2    003/A/NBP/2021    2021-01-07  0.012605           HUF
3    004/A/NBP/2021    2021-01-08  0.012564           HUF
4    005/A/NBP/2021    2021-01-11  0.012569           HUF
..              ...           ...       ...           ...
249  250/A/NBP/2021    2021-12-27  0.012459           HUF
250  251/A/NBP/2021    2021-12-28  0.012458           HUF
251  252/A/NBP/2021    2021-12-29  0.012445           HUF
252  253/A/NBP/2021    2021-12-30  0.012418           HUF
253  254/A/NBP/2021    2021-12-31  0.012464           HUF

[254 rows x 4 columns]
RUB
2021
http://api.nbp.pl/api/exchangerates/rates/a/RUB/2021-01-01/2021-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2021    2021-01-04  0.0506           RUB
1    002/A/NBP/2021    2021-01-05  0.0495           RUB
2    003/A/NBP/2021    2021-01-07  0.0495           RUB
3    004/A/NBP/2021    2021-01-08  0.0496           RUB
4    005/A/NBP/2021    2021-01-11  0.0500           RUB
..              ...           ...     ...           ...
249  250/A/NBP/2021    2021-12-27  0.0556           RUB
250  251/A/NBP/2021    2021-12-28  0.0552           RUB
251  252/A/NBP/2021    2021-12-29  0.0553           RUB
252  253/A/NBP/2021    2021-12-30  0.0543           RUB
253  254/A/NBP/2021    2021-12-31  0.0542           RUB

[254 rows x 4 columns]
USD
2021
http://api.nbp.pl/api/exchangerates/rates/a/USD/2021-01-01/2021-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2021    2021-01-04  3.6998           USD
1    002/A/NBP/2021    2021-01-05  3.7031           USD
2    003/A/NBP/2021    2021-01-07  3.6656           USD
3    004/A/NBP/2021    2021-01-08  3.6919           USD
4    005/A/NBP/2021    2021-01-11  3.7271           USD
..              ...           ...     ...           ...
249  250/A/NBP/2021    2021-12-27  4.0889           USD
250  251/A/NBP/2021    2021-12-28  4.0620           USD
251  252/A/NBP/2021    2021-12-29  4.0779           USD
252  253/A/NBP/2021    2021-12-30  4.0631           USD
253  254/A/NBP/2021    2021-12-31  4.0600           USD

[254 rows x 4 columns]

In [48]:
output

                  no effectiveDate     mid exchange_rate
0     001/A/NBP/2019    2019-01-02  0.1671           CZK
1     002/A/NBP/2019    2019-01-03  0.1672           CZK
2     003/A/NBP/2019    2019-01-04  0.1679           CZK
3     004/A/NBP/2019    2019-01-07  0.1682           CZK
4     005/A/NBP/2019    2019-01-08  0.1678           CZK
...              ...           ...     ...           ...
4555  250/A/NBP/2021    2021-12-27  4.0889           USD
4556  251/A/NBP/2021    2021-12-28  4.0620           USD
4557  252/A/NBP/2021    2021-12-29  4.0779           USD
4558  253/A/NBP/2021    2021-12-30  4.0631           USD
4559  254/A/NBP/2021    2021-12-31  4.0600           USD

[4560 rows x 4 columns]

In [49]:
# 2022

In [50]:
# output = pd.DataFrame()
year = yesterday.year - 0

for currency_code in currency_codes:
    print(currency_code)
    print(year)
#         res = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency}/{year}-01-01/{year}-12-31/").json()
    print(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{year}-01-01/{yesterday}/")
    respond = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{year}-01-01/{yesterday}/").json()['rates']
    json_norm = pd.json_normalize(respond)
    json_norm['effectiveDate'] = pd.to_datetime(json_norm['effectiveDate'])
    json_norm['exchange_rate'] = currency_code
    print(json_norm)
    output = pd.concat([output, json_norm], ignore_index=True)

CZK
2022
http://api.nbp.pl/api/exchangerates/rates/a/CZK/2022-01-01/2022-08-30/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2022    2022-01-03  0.1846           CZK
1    002/A/NBP/2022    2022-01-04  0.1845           CZK
2    003/A/NBP/2022    2022-01-05  0.1857           CZK
3    004/A/NBP/2022    2022-01-07  0.1858           CZK
4    005/A/NBP/2022    2022-01-10  0.1861           CZK
..              ...           ...     ...           ...
162  163/A/NBP/2022    2022-08-24  0.1938           CZK
163  164/A/NBP/2022    2022-08-25  0.1930           CZK
164  165/A/NBP/2022    2022-08-26  0.1923           CZK
165  166/A/NBP/2022    2022-08-29  0.1933           CZK
166  167/A/NBP/2022    2022-08-30  0.1925           CZK

[167 rows x 4 columns]
EUR
2022
http://api.nbp.pl/api/exchangerates/rates/a/EUR/2022-01-01/2022-08-30/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2022    2022-01-03  4.5889           EUR
1    002/A/NBP/2022    2022-01-04  4.5737           EUR
2    003/A/NBP/2022    2022-01-05  4.5672           EUR
3    004/A/NBP/2022    2022-01-07  4.5576           EUR
4    005/A/NBP/2022    2022-01-10  4.5377           EUR
..              ...           ...     ...           ...
162  163/A/NBP/2022    2022-08-24  4.7772           EUR
163  164/A/NBP/2022    2022-08-25  4.7584           EUR
164  165/A/NBP/2022    2022-08-26  4.7413           EUR
165  166/A/NBP/2022    2022-08-29  4.7529           EUR
166  167/A/NBP/2022    2022-08-30  4.7328           EUR

[167 rows x 4 columns]
GBP
2022
http://api.nbp.pl/api/exchangerates/rates/a/GBP/2022-01-01/2022-08-30/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2022    2022-01-03  5.4643           GBP
1    002/A/NBP/2022    2022-01-04  5.4677           GBP
2    003/A/NBP/2022    2022-01-05  5.4658           GBP
3    004/A/NBP/2022    2022-01-07  5.4595           GBP
4    005/A/NBP/2022    2022-01-10  5.4406           GBP
..              ...           ...     ...           ...
162  163/A/NBP/2022    2022-08-24  5.6784           GBP
163  164/A/NBP/2022    2022-08-25  5.6312           GBP
164  165/A/NBP/2022    2022-08-26  5.6007           GBP
165  166/A/NBP/2022    2022-08-29  5.5752           GBP
166  167/A/NBP/2022    2022-08-30  5.5413           GBP

[167 rows x 4 columns]
HUF
2022
http://api.nbp.pl/api/exchangerates/rates/a/HUF/2022-01-01/2022-08-30/
                 no effectiveDate       mid exchange_rate
0    001/A/NBP/2022    2022-01-03  0.012482           HUF
1    002/A/NBP/2022    2022-01-04  0.012515           HUF
2    003/A/NBP/2022    2022-01-05  0.012627           HUF
3    004/A/NBP/2022    2022-01-07  0.012683           HUF
4    005/A/NBP/2022    2022-01-10  0.012679           HUF
..              ...           ...       ...           ...
162  163/A/NBP/2022    2022-08-24  0.011618           HUF
163  164/A/NBP/2022    2022-08-25  0.011660           HUF
164  165/A/NBP/2022    2022-08-26  0.011594           HUF
165  166/A/NBP/2022    2022-08-29  0.011570           HUF
166  167/A/NBP/2022    2022-08-30  0.011622           HUF

[167 rows x 4 columns]
RUB
2022
http://api.nbp.pl/api/exchangerates/rates/a/RUB/2022-01-01/2022-08-30/
                no effectiveDate     mid exchange_rate
0   001/A/NBP/2022    2022-01-03  0.0544           RUB
1   002/A/NBP/2022    2022-01-04  0.0540           RUB
2   003/A/NBP/2022    2022-01-05  0.0533           RUB
3   004/A/NBP/2022    2022-01-07  0.0532           RUB
4   005/A/NBP/2022    2022-01-10  0.0535           RUB
5   006/A/NBP/2022    2022-01-11  0.0535           RUB
6   007/A/NBP/2022    2022-01-12  0.0536           RUB
7   008/A/NBP/2022    2022-01-13  0.0529           RUB
8   009/A/NBP/2022    2022-01-14  0.0520           RUB
9   010/A/NBP/2022    2022-01-17  0.0518           RUB
10  011/A/NBP/2022    2022-01-18  0.0518           RUB
11  012/A/NBP/2022    2022-01-19  0.0522           RUB
12  013/A/NBP/2022    2022-01-20  0.0520           RUB
13  014/A/NBP/2022    2022-01-21  0.0522           RUB
14  015/A/NBP/2022    2022-01-24  0.0513           RUB
15  016/A/NBP/2022    2022-01-25  0.0517           RUB
16  017/A/NBP/2022    2022-01-26  0.0515           RUB
17  018/A/NBP/2022    2022-01-27  0.0519           RUB
18  019/A/NBP/2022    2022-01-28  0.0527           RUB
19  020/A/NBP/2022    2022-01-31  0.0531           RUB
20  021/A/NBP/2022    2022-02-01  0.0528           RUB
21  022/A/NBP/2022    2022-02-02  0.0528           RUB
22  023/A/NBP/2022    2022-02-03  0.0526           RUB
23  024/A/NBP/2022    2022-02-04  0.0522           RUB
24  025/A/NBP/2022    2022-02-07  0.0528           RUB
25  026/A/NBP/2022    2022-02-08  0.0527           RUB
26  027/A/NBP/2022    2022-02-09  0.0529           RUB
27  028/A/NBP/2022    2022-02-10  0.0525           RUB
28  029/A/NBP/2022    2022-02-11  0.0529           RUB
29  030/A/NBP/2022    2022-02-14  0.0523           RUB
30  031/A/NBP/2022    2022-02-15  0.0526           RUB
31  032/A/NBP/2022    2022-02-16  0.0525           RUB
32  033/A/NBP/2022    2022-02-17  0.0522           RUB
33  034/A/NBP/2022    2022-02-18  0.0526           RUB
34  035/A/NBP/2022    2022-02-21  0.0517           RUB
35  036/A/NBP/2022    2022-02-22  0.0503           RUB
36  037/A/NBP/2022    2022-02-23  0.0503           RUB
37  038/A/NBP/2022    2022-02-24  0.0490           RUB
38  039/A/NBP/2022    2022-02-25  0.0499           RUB
39  040/A/NBP/2022    2022-02-28  0.0419           RUB
40  041/A/NBP/2022    2022-03-01  0.0447           RUB
41  042/A/NBP/2022    2022-03-02  0.0396           RUB
42  043/A/NBP/2022    2022-03-03  0.0371           RUB
43  044/A/NBP/2022    2022-03-04  0.0380           RUB
44  045/A/NBP/2022    2022-03-07  0.0335           RUB
45  046/A/NBP/2022    2022-03-08  0.0330           RUB
USD
2022
http://api.nbp.pl/api/exchangerates/rates/a/USD/2022-01-01/2022-08-30/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2022    2022-01-03  4.0424           USD
1    002/A/NBP/2022    2022-01-04  4.0468           USD
2    003/A/NBP/2022    2022-01-05  4.0396           USD
3    004/A/NBP/2022    2022-01-07  4.0279           USD
4    005/A/NBP/2022    2022-01-10  4.0064           USD
..              ...           ...     ...           ...
162  163/A/NBP/2022    2022-08-24  4.8029           USD
163  164/A/NBP/2022    2022-08-25  4.7546           USD
164  165/A/NBP/2022    2022-08-26  4.7465           USD
165  166/A/NBP/2022    2022-08-29  4.7821           USD
166  167/A/NBP/2022    2022-08-30  4.7210           USD

[167 rows x 4 columns]

In [51]:
output

                  no effectiveDate     mid exchange_rate
0     001/A/NBP/2019    2019-01-02  0.1671           CZK
1     002/A/NBP/2019    2019-01-03  0.1672           CZK
2     003/A/NBP/2019    2019-01-04  0.1679           CZK
3     004/A/NBP/2019    2019-01-07  0.1682           CZK
4     005/A/NBP/2019    2019-01-08  0.1678           CZK
...              ...           ...     ...           ...
5436  163/A/NBP/2022    2022-08-24  4.8029           USD
5437  164/A/NBP/2022    2022-08-25  4.7546           USD
5438  165/A/NBP/2022    2022-08-26  4.7465           USD
5439  166/A/NBP/2022    2022-08-29  4.7821           USD
5440  167/A/NBP/2022    2022-08-30  4.7210           USD

[5441 rows x 4 columns]

In [52]:
years

range(2019, 2023)

In [55]:
time.sleep(60)

output = pd.DataFrame()
for year in years:
# year = yesterday.year - 1

    for currency_code in currency_codes:
        print(currency_code)
        print(year)
        try:
        #         res = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency}/{year}-01-01/{year}-12-31/").json()
            print(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{year}-01-01/{year}-12-31/")
            respond = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{year}-01-01/{year}-12-31/").json()['rates']
            json_norm = pd.json_normalize(respond)
            json_norm['effectiveDate'] = pd.to_datetime(json_norm['effectiveDate'])
            json_norm['exchange_rate'] = currency_code
            print(json_norm)
            output = pd.concat([output, json_norm], ignore_index=True)
            time.sleep(60)
        except Exception:
            print(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{year}-01-01/{yesterday}/")
            respond = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{year}-01-01/{yesterday}/").json()['rates']
            json_norm = pd.json_normalize(respond)
            json_norm['effectiveDate'] = pd.to_datetime(json_norm['effectiveDate'])
            json_norm['exchange_rate'] = currency_code
            print(json_norm)
            output = pd.concat([output, json_norm], ignore_index=True)
            time.sleep(60)

CZK
2019
http://api.nbp.pl/api/exchangerates/rates/a/CZK/2019-01-01/2019-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2019    2019-01-02  0.1671           CZK
1    002/A/NBP/2019    2019-01-03  0.1672           CZK
2    003/A/NBP/2019    2019-01-04  0.1679           CZK
3    004/A/NBP/2019    2019-01-07  0.1682           CZK
4    005/A/NBP/2019    2019-01-08  0.1678           CZK
..              ...           ...     ...           ...
246  247/A/NBP/2019    2019-12-23  0.1671           CZK
247  248/A/NBP/2019    2019-12-24  0.1673           CZK
248  249/A/NBP/2019    2019-12-27  0.1673           CZK
249  250/A/NBP/2019    2019-12-30  0.1673           CZK
250  251/A/NBP/2019    2019-12-31  0.1676           CZK

[251 rows x 4 columns]
EUR
2019
http://api.nbp.pl/api/exchangerates/rates/a/EUR/2019-01-01/2019-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2019    2019-01-02  4.3016           EUR
1    002/A/NBP/2019    2019-01-03  4.3030           EUR
2    003/A/NBP/2019    2019-01-04  4.3018           EUR
3    004/A/NBP/2019    2019-01-07  4.2989           EUR
4    005/A/NBP/2019    2019-01-08  4.3013           EUR
..              ...           ...     ...           ...
246  247/A/NBP/2019    2019-12-23  4.2554           EUR
247  248/A/NBP/2019    2019-12-24  4.2624           EUR
248  249/A/NBP/2019    2019-12-27  4.2624           EUR
249  250/A/NBP/2019    2019-12-30  4.2588           EUR
250  251/A/NBP/2019    2019-12-31  4.2585           EUR

[251 rows x 4 columns]
GBP
2019
http://api.nbp.pl/api/exchangerates/rates/a/GBP/2019-01-01/2019-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2019    2019-01-02  4.7737           GBP
1    002/A/NBP/2019    2019-01-03  4.7589           GBP
2    003/A/NBP/2019    2019-01-04  4.7803           GBP
3    004/A/NBP/2019    2019-01-07  4.7907           GBP
4    005/A/NBP/2019    2019-01-08  4.7952           GBP
..              ...           ...     ...           ...
246  247/A/NBP/2019    2019-12-23  4.9952           GBP
247  248/A/NBP/2019    2019-12-24  4.9765           GBP
248  249/A/NBP/2019    2019-12-27  5.0019           GBP
249  250/A/NBP/2019    2019-12-30  4.9883           GBP
250  251/A/NBP/2019    2019-12-31  4.9971           GBP

[251 rows x 4 columns]
HUF
2019
http://api.nbp.pl/api/exchangerates/rates/a/HUF/2019-01-01/2019-12-31/
                 no effectiveDate       mid exchange_rate
0    001/A/NBP/2019    2019-01-02  0.013353           HUF
1    002/A/NBP/2019    2019-01-03  0.013341           HUF
2    003/A/NBP/2019    2019-01-04  0.013390           HUF
3    004/A/NBP/2019    2019-01-07  0.013385           HUF
4    005/A/NBP/2019    2019-01-08  0.013384           HUF
..              ...           ...       ...           ...
246  247/A/NBP/2019    2019-12-23  0.012862           HUF
247  248/A/NBP/2019    2019-12-24  0.012867           HUF
248  249/A/NBP/2019    2019-12-27  0.012884           HUF
249  250/A/NBP/2019    2019-12-30  0.012880           HUF
250  251/A/NBP/2019    2019-12-31  0.012885           HUF

[251 rows x 4 columns]
RUB
2019
http://api.nbp.pl/api/exchangerates/rates/a/RUB/2019-01-01/2019-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2019    2019-01-02  0.0541           RUB
1    002/A/NBP/2019    2019-01-03  0.0548           RUB
2    003/A/NBP/2019    2019-01-04  0.0552           RUB
3    004/A/NBP/2019    2019-01-07  0.0558           RUB
4    005/A/NBP/2019    2019-01-08  0.0560           RUB
..              ...           ...     ...           ...
246  247/A/NBP/2019    2019-12-23  0.0616           RUB
247  248/A/NBP/2019    2019-12-24  0.0620           RUB
248  249/A/NBP/2019    2019-12-27  0.0617           RUB
249  250/A/NBP/2019    2019-12-30  0.0616           RUB
250  251/A/NBP/2019    2019-12-31  0.0611           RUB

[251 rows x 4 columns]
USD
2019
http://api.nbp.pl/api/exchangerates/rates/a/USD/2019-01-01/2019-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2019    2019-01-02  3.7619           USD
1    002/A/NBP/2019    2019-01-03  3.7827           USD
2    003/A/NBP/2019    2019-01-04  3.7720           USD
3    004/A/NBP/2019    2019-01-07  3.7575           USD
4    005/A/NBP/2019    2019-01-08  3.7559           USD
..              ...           ...     ...           ...
246  247/A/NBP/2019    2019-12-23  3.8394           USD
247  248/A/NBP/2019    2019-12-24  3.8487           USD
248  249/A/NBP/2019    2019-12-27  3.8266           USD
249  250/A/NBP/2019    2019-12-30  3.8027           USD
250  251/A/NBP/2019    2019-12-31  3.7977           USD

[251 rows x 4 columns]
CZK
2020
http://api.nbp.pl/api/exchangerates/rates/a/CZK/2020-01-01/2020-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2020    2020-01-02  0.1675           CZK
1    002/A/NBP/2020    2020-01-03  0.1681           CZK
2    003/A/NBP/2020    2020-01-07  0.1677           CZK
3    004/A/NBP/2020    2020-01-08  0.1680           CZK
4    005/A/NBP/2020    2020-01-09  0.1681           CZK
..              ...           ...     ...           ...
250  251/A/NBP/2020    2020-12-24  0.1711           CZK
251  252/A/NBP/2020    2020-12-28  0.1711           CZK
252  253/A/NBP/2020    2020-12-29  0.1715           CZK
253  254/A/NBP/2020    2020-12-30  0.1729           CZK
254  255/A/NBP/2020    2020-12-31  0.1753           CZK

[255 rows x 4 columns]
EUR
2020
http://api.nbp.pl/api/exchangerates/rates/a/EUR/2020-01-01/2020-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2020    2020-01-02  4.2571           EUR
1    002/A/NBP/2020    2020-01-03  4.2569           EUR
2    003/A/NBP/2020    2020-01-07  4.2347           EUR
3    004/A/NBP/2020    2020-01-08  4.2465           EUR
4    005/A/NBP/2020    2020-01-09  4.2459           EUR
..              ...           ...     ...           ...
250  251/A/NBP/2020    2020-12-24  4.5084           EUR
251  252/A/NBP/2020    2020-12-28  4.4879           EUR
252  253/A/NBP/2020    2020-12-29  4.5051           EUR
253  254/A/NBP/2020    2020-12-30  4.5272           EUR
254  255/A/NBP/2020    2020-12-31  4.6148           EUR

[255 rows x 4 columns]
GBP
2020
http://api.nbp.pl/api/exchangerates/rates/a/GBP/2020-01-01/2020-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2020    2020-01-02  5.0211           GBP
1    002/A/NBP/2020    2020-01-03  4.9934           GBP
2    003/A/NBP/2020    2020-01-07  4.9879           GBP
3    004/A/NBP/2020    2020-01-08  5.0018           GBP
4    005/A/NBP/2020    2020-01-09  4.9837           GBP
..              ...           ...     ...           ...
250  251/A/NBP/2020    2020-12-24  5.0286           GBP
251  252/A/NBP/2020    2020-12-28  4.9656           GBP
252  253/A/NBP/2020    2020-12-29  4.9550           GBP
253  254/A/NBP/2020    2020-12-30  5.0102           GBP
254  255/A/NBP/2020    2020-12-31  5.1327           GBP

[255 rows x 4 columns]
HUF
2020
http://api.nbp.pl/api/exchangerates/rates/a/HUF/2020-01-01/2020-12-31/
                 no effectiveDate       mid exchange_rate
0    001/A/NBP/2020    2020-01-02  0.012901           HUF
1    002/A/NBP/2020    2020-01-03  0.012921           HUF
2    003/A/NBP/2020    2020-01-07  0.012805           HUF
3    004/A/NBP/2020    2020-01-08  0.012815           HUF
4    005/A/NBP/2020    2020-01-09  0.012807           HUF
..              ...           ...       ...           ...
250  251/A/NBP/2020    2020-12-24  0.012443           HUF
251  252/A/NBP/2020    2020-12-28  0.012347           HUF
252  253/A/NBP/2020    2020-12-29  0.012386           HUF
253  254/A/NBP/2020    2020-12-30  0.012418           HUF
254  255/A/NBP/2020    2020-12-31  0.012638           HUF

[255 rows x 4 columns]
RUB
2020
http://api.nbp.pl/api/exchangerates/rates/a/RUB/2020-01-01/2020-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2020    2020-01-02  0.0616           RUB
1    002/A/NBP/2020    2020-01-03  0.0615           RUB
2    003/A/NBP/2020    2020-01-07  0.0614           RUB
3    004/A/NBP/2020    2020-01-08  0.0616           RUB
4    005/A/NBP/2020    2020-01-09  0.0625           RUB
..              ...           ...     ...           ...
250  251/A/NBP/2020    2020-12-24  0.0495           RUB
251  252/A/NBP/2020    2020-12-28  0.0497           RUB
252  253/A/NBP/2020    2020-12-29  0.0500           RUB
253  254/A/NBP/2020    2020-12-30  0.0496           RUB
254  255/A/NBP/2020    2020-12-31  0.0501           RUB

[255 rows x 4 columns]

USD
2020
http://api.nbp.pl/api/exchangerates/rates/a/USD/2020-01-01/2020-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2020    2020-01-02  3.8000           USD
1    002/A/NBP/2020    2020-01-03  3.8213           USD
2    003/A/NBP/2020    2020-01-07  3.7861           USD
3    004/A/NBP/2020    2020-01-08  3.8123           USD
4    005/A/NBP/2020    2020-01-09  3.8251           USD
..              ...           ...     ...           ...
250  251/A/NBP/2020    2020-12-24  3.6981           USD
251  252/A/NBP/2020    2020-12-28  3.6639           USD
252  253/A/NBP/2020    2020-12-29  3.6778           USD
253  254/A/NBP/2020    2020-12-30  3.6901           USD
254  255/A/NBP/2020    2020-12-31  3.7584           USD

[255 rows x 4 columns]
CZK
2021
http://api.nbp.pl/api/exchangerates/rates/a/CZK/2021-01-01/2021-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2021    2021-01-04  0.1739           CZK
1    002/A/NBP/2021    2021-01-05  0.1735           CZK
2    003/A/NBP/2021    2021-01-07  0.1718           CZK
3    004/A/NBP/2021    2021-01-08  0.1725           CZK
4    005/A/NBP/2021    2021-01-11  0.1728           CZK
..              ...           ...     ...           ...
249  250/A/NBP/2021    2021-12-27  0.1843           CZK
250  251/A/NBP/2021    2021-12-28  0.1840           CZK
251  252/A/NBP/2021    2021-12-29  0.1844           CZK
252  253/A/NBP/2021    2021-12-30  0.1836           CZK
253  254/A/NBP/2021    2021-12-31  0.1850           CZK

[254 rows x 4 columns]
EUR
2021
http://api.nbp.pl/api/exchangerates/rates/a/EUR/2021-01-01/2021-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2021    2021-01-04  4.5485           EUR
1    002/A/NBP/2021    2021-01-05  4.5446           EUR
2    003/A/NBP/2021    2021-01-07  4.4973           EUR
3    004/A/NBP/2021    2021-01-08  4.5189           EUR
4    005/A/NBP/2021    2021-01-11  4.5325           EUR
..              ...           ...     ...           ...
249  250/A/NBP/2021    2021-12-27  4.6239           EUR
250  251/A/NBP/2021    2021-12-28  4.6028           EUR
251  252/A/NBP/2021    2021-12-29  4.5997           EUR
252  253/A/NBP/2021    2021-12-30  4.5915           EUR
253  254/A/NBP/2021    2021-12-31  4.5994           EUR

[254 rows x 4 columns]
GBP
2021
http://api.nbp.pl/api/exchangerates/rates/a/GBP/2021-01-01/2021-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2021    2021-01-04  5.0589           GBP
1    002/A/NBP/2021    2021-01-05  5.0261           GBP
2    003/A/NBP/2021    2021-01-07  4.9832           GBP
3    004/A/NBP/2021    2021-01-08  5.0216           GBP
4    005/A/NBP/2021    2021-01-11  5.0288           GBP
..              ...           ...     ...           ...
249  250/A/NBP/2021    2021-12-27  5.4805           GBP
250  251/A/NBP/2021    2021-12-28  5.4623           GBP
251  252/A/NBP/2021    2021-12-29  5.4693           GBP
252  253/A/NBP/2021    2021-12-30  5.4680           GBP
253  254/A/NBP/2021    2021-12-31  5.4846           GBP

[254 rows x 4 columns]
HUF
2021
http://api.nbp.pl/api/exchangerates/rates/a/HUF/2021-01-01/2021-12-31/
                 no effectiveDate       mid exchange_rate
0    001/A/NBP/2021    2021-01-04  0.012605           HUF
1    002/A/NBP/2021    2021-01-05  0.012577           HUF
2    003/A/NBP/2021    2021-01-07  0.012605           HUF
3    004/A/NBP/2021    2021-01-08  0.012564           HUF
4    005/A/NBP/2021    2021-01-11  0.012569           HUF
..              ...           ...       ...           ...
249  250/A/NBP/2021    2021-12-27  0.012459           HUF
250  251/A/NBP/2021    2021-12-28  0.012458           HUF
251  252/A/NBP/2021    2021-12-29  0.012445           HUF
252  253/A/NBP/2021    2021-12-30  0.012418           HUF
253  254/A/NBP/2021    2021-12-31  0.012464           HUF

[254 rows x 4 columns]
RUB
2021
http://api.nbp.pl/api/exchangerates/rates/a/RUB/2021-01-01/2021-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2021    2021-01-04  0.0506           RUB
1    002/A/NBP/2021    2021-01-05  0.0495           RUB
2    003/A/NBP/2021    2021-01-07  0.0495           RUB
3    004/A/NBP/2021    2021-01-08  0.0496           RUB
4    005/A/NBP/2021    2021-01-11  0.0500           RUB
..              ...           ...     ...           ...
249  250/A/NBP/2021    2021-12-27  0.0556           RUB
250  251/A/NBP/2021    2021-12-28  0.0552           RUB
251  252/A/NBP/2021    2021-12-29  0.0553           RUB
252  253/A/NBP/2021    2021-12-30  0.0543           RUB
253  254/A/NBP/2021    2021-12-31  0.0542           RUB

[254 rows x 4 columns]
USD
2021
http://api.nbp.pl/api/exchangerates/rates/a/USD/2021-01-01/2021-12-31/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2021    2021-01-04  3.6998           USD
1    002/A/NBP/2021    2021-01-05  3.7031           USD
2    003/A/NBP/2021    2021-01-07  3.6656           USD
3    004/A/NBP/2021    2021-01-08  3.6919           USD
4    005/A/NBP/2021    2021-01-11  3.7271           USD
..              ...           ...     ...           ...
249  250/A/NBP/2021    2021-12-27  4.0889           USD
250  251/A/NBP/2021    2021-12-28  4.0620           USD
251  252/A/NBP/2021    2021-12-29  4.0779           USD
252  253/A/NBP/2021    2021-12-30  4.0631           USD
253  254/A/NBP/2021    2021-12-31  4.0600           USD

[254 rows x 4 columns]
CZK
2022
http://api.nbp.pl/api/exchangerates/rates/a/CZK/2022-01-01/2022-12-31/
http://api.nbp.pl/api/exchangerates/rates/a/CZK/2022-01-01/2022-08-30/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2022    2022-01-03  0.1846           CZK
1    002/A/NBP/2022    2022-01-04  0.1845           CZK
2    003/A/NBP/2022    2022-01-05  0.1857           CZK
3    004/A/NBP/2022    2022-01-07  0.1858           CZK
4    005/A/NBP/2022    2022-01-10  0.1861           CZK
..              ...           ...     ...           ...
162  163/A/NBP/2022    2022-08-24  0.1938           CZK
163  164/A/NBP/2022    2022-08-25  0.1930           CZK
164  165/A/NBP/2022    2022-08-26  0.1923           CZK
165  166/A/NBP/2022    2022-08-29  0.1933           CZK
166  167/A/NBP/2022    2022-08-30  0.1925           CZK

[167 rows x 4 columns]
EUR
2022
http://api.nbp.pl/api/exchangerates/rates/a/EUR/2022-01-01/2022-12-31/
http://api.nbp.pl/api/exchangerates/rates/a/EUR/2022-01-01/2022-08-30/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2022    2022-01-03  4.5889           EUR
1    002/A/NBP/2022    2022-01-04  4.5737           EUR
2    003/A/NBP/2022    2022-01-05  4.5672           EUR
3    004/A/NBP/2022    2022-01-07  4.5576           EUR
4    005/A/NBP/2022    2022-01-10  4.5377           EUR
..              ...           ...     ...           ...
162  163/A/NBP/2022    2022-08-24  4.7772           EUR
163  164/A/NBP/2022    2022-08-25  4.7584           EUR
164  165/A/NBP/2022    2022-08-26  4.7413           EUR
165  166/A/NBP/2022    2022-08-29  4.7529           EUR
166  167/A/NBP/2022    2022-08-30  4.7328           EUR

[167 rows x 4 columns]
GBP
2022
http://api.nbp.pl/api/exchangerates/rates/a/GBP/2022-01-01/2022-12-31/
http://api.nbp.pl/api/exchangerates/rates/a/GBP/2022-01-01/2022-08-30/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2022    2022-01-03  5.4643           GBP
1    002/A/NBP/2022    2022-01-04  5.4677           GBP
2    003/A/NBP/2022    2022-01-05  5.4658           GBP
3    004/A/NBP/2022    2022-01-07  5.4595           GBP
4    005/A/NBP/2022    2022-01-10  5.4406           GBP
..              ...           ...     ...           ...
162  163/A/NBP/2022    2022-08-24  5.6784           GBP
163  164/A/NBP/2022    2022-08-25  5.6312           GBP
164  165/A/NBP/2022    2022-08-26  5.6007           GBP
165  166/A/NBP/2022    2022-08-29  5.5752           GBP
166  167/A/NBP/2022    2022-08-30  5.5413           GBP

[167 rows x 4 columns]
HUF
2022
http://api.nbp.pl/api/exchangerates/rates/a/HUF/2022-01-01/2022-12-31/
http://api.nbp.pl/api/exchangerates/rates/a/HUF/2022-01-01/2022-08-30/
                 no effectiveDate       mid exchange_rate
0    001/A/NBP/2022    2022-01-03  0.012482           HUF
1    002/A/NBP/2022    2022-01-04  0.012515           HUF
2    003/A/NBP/2022    2022-01-05  0.012627           HUF
3    004/A/NBP/2022    2022-01-07  0.012683           HUF
4    005/A/NBP/2022    2022-01-10  0.012679           HUF
..              ...           ...       ...           ...
162  163/A/NBP/2022    2022-08-24  0.011618           HUF
163  164/A/NBP/2022    2022-08-25  0.011660           HUF
164  165/A/NBP/2022    2022-08-26  0.011594           HUF
165  166/A/NBP/2022    2022-08-29  0.011570           HUF
166  167/A/NBP/2022    2022-08-30  0.011622           HUF

[167 rows x 4 columns]

RUB
2022
http://api.nbp.pl/api/exchangerates/rates/a/RUB/2022-01-01/2022-12-31/
http://api.nbp.pl/api/exchangerates/rates/a/RUB/2022-01-01/2022-08-30/
                no effectiveDate     mid exchange_rate
0   001/A/NBP/2022    2022-01-03  0.0544           RUB
1   002/A/NBP/2022    2022-01-04  0.0540           RUB
2   003/A/NBP/2022    2022-01-05  0.0533           RUB
3   004/A/NBP/2022    2022-01-07  0.0532           RUB
4   005/A/NBP/2022    2022-01-10  0.0535           RUB
5   006/A/NBP/2022    2022-01-11  0.0535           RUB
6   007/A/NBP/2022    2022-01-12  0.0536           RUB
7   008/A/NBP/2022    2022-01-13  0.0529           RUB
8   009/A/NBP/2022    2022-01-14  0.0520           RUB
9   010/A/NBP/2022    2022-01-17  0.0518           RUB
10  011/A/NBP/2022    2022-01-18  0.0518           RUB
11  012/A/NBP/2022    2022-01-19  0.0522           RUB
12  013/A/NBP/2022    2022-01-20  0.0520           RUB
13  014/A/NBP/2022    2022-01-21  0.0522           RUB
14  015/A/NBP/2022    2022-01-24  0.0513           RUB
15  016/A/NBP/2022    2022-01-25  0.0517           RUB
16  017/A/NBP/2022    2022-01-26  0.0515           RUB
17  018/A/NBP/2022    2022-01-27  0.0519           RUB
18  019/A/NBP/2022    2022-01-28  0.0527           RUB
19  020/A/NBP/2022    2022-01-31  0.0531           RUB
20  021/A/NBP/2022    2022-02-01  0.0528           RUB
21  022/A/NBP/2022    2022-02-02  0.0528           RUB
22  023/A/NBP/2022    2022-02-03  0.0526           RUB
23  024/A/NBP/2022    2022-02-04  0.0522           RUB
24  025/A/NBP/2022    2022-02-07  0.0528           RUB
25  026/A/NBP/2022    2022-02-08  0.0527           RUB
26  027/A/NBP/2022    2022-02-09  0.0529           RUB
27  028/A/NBP/2022    2022-02-10  0.0525           RUB
28  029/A/NBP/2022    2022-02-11  0.0529           RUB
29  030/A/NBP/2022    2022-02-14  0.0523           RUB
30  031/A/NBP/2022    2022-02-15  0.0526           RUB
31  032/A/NBP/2022    2022-02-16  0.0525           RUB
32  033/A/NBP/2022    2022-02-17  0.0522           RUB
33  034/A/NBP/2022    2022-02-18  0.0526           RUB
34  035/A/NBP/2022    2022-02-21  0.0517           RUB
35  036/A/NBP/2022    2022-02-22  0.0503           RUB
36  037/A/NBP/2022    2022-02-23  0.0503           RUB
37  038/A/NBP/2022    2022-02-24  0.0490           RUB
38  039/A/NBP/2022    2022-02-25  0.0499           RUB
39  040/A/NBP/2022    2022-02-28  0.0419           RUB
40  041/A/NBP/2022    2022-03-01  0.0447           RUB
41  042/A/NBP/2022    2022-03-02  0.0396           RUB
42  043/A/NBP/2022    2022-03-03  0.0371           RUB
43  044/A/NBP/2022    2022-03-04  0.0380           RUB
44  045/A/NBP/2022    2022-03-07  0.0335           RUB
45  046/A/NBP/2022    2022-03-08  0.0330           RUB
USD
2022
http://api.nbp.pl/api/exchangerates/rates/a/USD/2022-01-01/2022-12-31/
http://api.nbp.pl/api/exchangerates/rates/a/USD/2022-01-01/2022-08-30/
                 no effectiveDate     mid exchange_rate
0    001/A/NBP/2022    2022-01-03  4.0424           USD
1    002/A/NBP/2022    2022-01-04  4.0468           USD
2    003/A/NBP/2022    2022-01-05  4.0396           USD
3    004/A/NBP/2022    2022-01-07  4.0279           USD
4    005/A/NBP/2022    2022-01-10  4.0064           USD
..              ...           ...     ...           ...
162  163/A/NBP/2022    2022-08-24  4.8029           USD
163  164/A/NBP/2022    2022-08-25  4.7546           USD
164  165/A/NBP/2022    2022-08-26  4.7465           USD
165  166/A/NBP/2022    2022-08-29  4.7821           USD
166  167/A/NBP/2022    2022-08-30  4.7210           USD

[167 rows x 4 columns]

In [56]:
output

                  no effectiveDate     mid exchange_rate
0     001/A/NBP/2019    2019-01-02  0.1671           CZK
1     002/A/NBP/2019    2019-01-03  0.1672           CZK
2     003/A/NBP/2019    2019-01-04  0.1679           CZK
3     004/A/NBP/2019    2019-01-07  0.1682           CZK
4     005/A/NBP/2019    2019-01-08  0.1678           CZK
...              ...           ...     ...           ...
5436  163/A/NBP/2022    2022-08-24  4.8029           USD
5437  164/A/NBP/2022    2022-08-25  4.7546           USD
5438  165/A/NBP/2022    2022-08-26  4.7465           USD
5439  166/A/NBP/2022    2022-08-29  4.7821           USD
5440  167/A/NBP/2022    2022-08-30  4.7210           USD

[5441 rows x 4 columns]

In [64]:
output.to_csv(f'nbp_exchangerates.csv', index=False)

In [65]:
ls -lah

total 764K
drwxrwxrwx 1 root   root   512 Aug 31 17:00 ./
drwsrwsr-x 1 jovyan users 4.0K Aug 24 06:36 ../
-rwxrwxrwx 1 root   root  1.8M Jan 14  2022 excursions_data.csv*
-rwxrwxrwx 1 root   root   12K Aug 24 06:46 hello-world-notebook.ipynb*
-rw-r--r-- 1 jovyan users  70K Aug 31 15:18 holidays_and_sundays_pl.ipynb
drwxrwxrwx 1 root   root   512 Aug 31 16:52 .ipynb_checkpoints/
-rwxrwxrwx 1 root   root   19K Jun  5 16:49 load-postgres-notebook.ipynb*
-rw-r--r-- 1 jovyan users 198K Aug 31 17:00 nbp_exchangerates.csv
-rw-r--r-- 1 jovyan users 145K Aug 31 17:00 nbp_exchange_rates.ipynb
-rwxrwxrwx 1 root   root  3.8K Jun  5 16:58 read-postgres-notebook.ipynb*

In [2]:
http://api.nbp.pl/api/exchangerates/rates/c/usd/2016-04-04/?format=json

SyntaxError: invalid syntax (517844273.py, line 1)

In [27]:
dt = "2022-09-01"

In [28]:
url_template = f"http://api.nbp.pl/api/exchangerates/rates/a/{dt}"

In [29]:
url_template

'http://api.nbp.pl/api/exchangerates/rates/a/2022-09-01'

In [30]:
rate = requests.get(url_template.format(currency_code)).json()["rates"][0]["mid"]

JSONDecodeError: Unexpected UTF-8 BOM (decode using utf-8-sig): line 1 column 1 (char 0)

In [32]:
print(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{dt}/{dt}")
respond = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{dt}/{dt}/").json()['rates']

http://api.nbp.pl/api/exchangerates/rates/a/CHF/2022-09-01/2022-09-01

In [33]:
respond

[{'no': '169/A/NBP/2022', 'effectiveDate': '2022-09-01', 'mid': 4.8112}]

In [46]:
currency_codes

['CZK', 'EUR', 'GBP', 'HUF', 'RUB', 'USD']

In [48]:
dt

'2022-09-01'

In [61]:
current_dttm = pd.to_datetime(dt)
current_dttm

Timestamp('2022-09-01 00:00:00')

In [71]:
dt_minus_one = (current_dttm - timedelta(days=1)).strftime("%Y-%m-%d")

In [72]:
dt_minus_one

'2022-08-31'

In [76]:
time.sleep(60)

output = pd.DataFrame()
for currency_code in currency_codes:
    if currency_code != 'RUB':
        print(currency_code)
        try:
            print(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{dt_minus_one}/{dt_minus_one}")
            respond = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{dt_minus_one}/{dt_minus_one}/").json()['rates']
            json_norm = pd.json_normalize(respond)
            json_norm['effectiveDate'] = pd.to_datetime(json_norm['effectiveDate'])
            json_norm['exchange_rate'] = currency_code
            print(json_norm)
            output = pd.concat([output, json_norm], ignore_index=True)
        except Exception:
            print(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{dt_minus_one}/{dt_minus_one}")
            respond = requests.get(f"http://api.nbp.pl/api/exchangerates/rates/a/{currency_code}/{dt_minus_one}/{dt_minus_one}/").json()['rates']

CZK
http://api.nbp.pl/api/exchangerates/rates/a/CZK/2022-08-31/2022-08-31
               no effectiveDate     mid exchange_rate
0  168/A/NBP/2022    2022-08-31  0.1928           CZK
EUR
http://api.nbp.pl/api/exchangerates/rates/a/EUR/2022-08-31/2022-08-31
               no effectiveDate     mid exchange_rate
0  168/A/NBP/2022    2022-08-31  4.7265           EUR
GBP
http://api.nbp.pl/api/exchangerates/rates/a/GBP/2022-08-31/2022-08-31
               no effectiveDate     mid exchange_rate
0  168/A/NBP/2022    2022-08-31  5.5126           GBP
HUF
http://api.nbp.pl/api/exchangerates/rates/a/HUF/2022-08-31/2022-08-31
               no effectiveDate       mid exchange_rate
0  168/A/NBP/2022    2022-08-31  0.011675           HUF
USD
http://api.nbp.pl/api/exchangerates/rates/a/USD/2022-08-31/2022-08-31
               no effectiveDate    mid exchange_rate
0  168/A/NBP/2022    2022-08-31  4.736           USD

In [77]:
output

               no effectiveDate       mid exchange_rate
0  168/A/NBP/2022    2022-08-31  0.192800           CZK
1  168/A/NBP/2022    2022-08-31  4.726500           EUR
2  168/A/NBP/2022    2022-08-31  5.512600           GBP
3  168/A/NBP/2022    2022-08-31  0.011675           HUF
4  168/A/NBP/2022    2022-08-31  4.736000           USD

In [80]:
output.shape

(5, 4)

In [84]:
ls

excursions_data.csv*           nbp_exchangerates.csv*
hello-world-notebook.ipynb*    nbp_exchange_rates.ipynb
holidays_and_sundays_pl.ipynb  read-postgres-notebook.ipynb*
load-postgres-notebook.ipynb*

In [ ]:
"DTYPE": {
      "if_data_corrected": "object",
      "prod_gr_id": "object",
      "country_id_n": "object",
      "delivery_type_id": "object",
      "freq_id": "object",
      "retailer_id": "object",
      "brand_id": "object",
      "predict_automatch": "float",
      "class_acctual": "float"
    }

In [186]:
df = pd.read_csv(
    'excursions_data.csv',
#     sep=CONFIG['INPUTS']['SEPARATOR'],
#     encoding=CONFIG['INPUTS']['ENCODING'],
    infer_datetime_format=True,
#     parse_dates=CONFIG['INPUTS']['DATE_COLUMNS'],
    engine="c",
    low_memory=False,
    skipinitialspace=True,
    dtype={
      "SP_BookingNumber": "object",
      "SP_Destination": "object",
      "SP_PaidCurrency": "object",
      "SP_Paid": "float",
    }
)

ValueError: could not convert string to float: '100,00'

In [184]:
df = pd.read_csv('excursions_data.csv')

In [185]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39195 entries, 0 to 39194
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SP_BookingNumber  39195 non-null  object
 1   SP_Destination    39195 non-null  object
 2   SP_PaidCurrency   39195 non-null  object
 3   SP_Paid           39195 non-null  object
 4   SP_TourDate       39195 non-null  object
dtypes: object(5)
memory usage: 1.5+ MB

In [181]:
excursions_data = df

In [156]:
excursions_data

      SP_BookingNumber SP_Destination SP_PaidCurrency  SP_Paid SP_TourDate
0             S9999999            TST             CZK   100,00  2022-08-31
1             S9999999            TST             EUR   100,00  2022-08-31
2             S9999999            TST             GBP   100,00  2022-08-31
3             S9999999            TST             HUF   100,00  2022-08-31
4             S9999999            TST             RUB   100,00  2022-08-31
...                ...            ...             ...      ...         ...
39190         W0005250            CHQ             PLN   364,61  2019-08-06
39191         W0005227            BCN             EUR    78,71  2019-09-11
39192         W0005214            TIA             PLN   486,15  2019-06-06
39193         W0005168            RKV             PLN   1111,2  2019-06-15
39194         W0005160            OTP             PLN  2391,86  2019-05-29

[39195 rows x 5 columns]

In [157]:
nbp_exchangerates = pd.read_csv('nbp_exchangerates.csv')

In [158]:
nbp_exchangerates

                  no effectiveDate     mid exchange_rate
0     001/A/NBP/2019    2019-01-02  0.1671           CZK
1     002/A/NBP/2019    2019-01-03  0.1672           CZK
2     003/A/NBP/2019    2019-01-04  0.1679           CZK
3     004/A/NBP/2019    2019-01-07  0.1682           CZK
4     005/A/NBP/2019    2019-01-08  0.1678           CZK
...              ...           ...     ...           ...
5441  164/A/NBP/2022    2022-08-25  4.7546           USD
5442  165/A/NBP/2022    2022-08-26  4.7465           USD
5443  166/A/NBP/2022    2022-08-29  4.7821           USD
5444  167/A/NBP/2022    2022-08-30  4.7210           USD
5445  168/A/NBP/2022    2022-08-31  4.7360           USD

[5446 rows x 4 columns]

In [207]:
output = excursions_data.merge(
    nbp_exchangerates,
    how='left',
    left_on=['SP_TourDate', 'SP_PaidCurrency'],
    right_on=['effectiveDate', 'exchange_rate']
)

In [208]:
output.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39195 entries, 0 to 39194
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SP_BookingNumber  39195 non-null  object
 1   SP_Destination    39195 non-null  object
 2   SP_PaidCurrency   39195 non-null  object
 3   SP_Paid           39195 non-null  object
 4   SP_TourDate       39195 non-null  object
 5   no                10293 non-null  object
 6   effectiveDate     10293 non-null  object
 7   mid               10293 non-null  float64
 8   exchange_rate     10293 non-null  object
dtypes: float64(1), object(8)
memory usage: 3.0+ MB

In [213]:
output.drop(columns=['no', 'effectiveDate', 'exchange_rate'], inplace=True)

In [ ]:
# new_cols = [col for col in df.columns if col != 'date'] + ['date']
# df = df[new_cols]

In [214]:
# output['SP_ValueCalculated'] = (output['SP_Paid'].apply(replace(',', '.')))
output['SP_Paid'] = output['SP_Paid'].str.replace(',','.')

In [215]:
output

,SP_BookingNumber,SP_Destination,SP_PaidCurrency,SP_Paid,SP_TourDate,mid
0,S9999999,TST,CZK,100.00,2022-08-31,0.192800
1,S9999999,TST,EUR,100.00,2022-08-31,4.726500
2,S9999999,TST,GBP,100.00,2022-08-31,5.512600
3,S9999999,TST,HUF,100.00,2022-08-31,0.011675
4,S9999999,TST,RUB,100.00,2022-08-31,NaN
...,...,...,...,...,...,...
39190,W0005250,CHQ,PLN,364.61,2019-08-06,NaN
39191,W0005227,BCN,EUR,78.71,2019-09-11,4.335700
39192,W0005214,TIA,PLN,486.15,2019-06-06,NaN
39193,W0005168,RKV,PLN,1111.2,2019-06-15,NaN
39194,W0005160,OTP,PLN,2391.86,2019-05-29,NaN

In [216]:
output['SP_ValueCalculated'] = (output['SP_Paid']).apply(float) * output['mid'].apply(float)

In [220]:
output.rename(columns={"mid": "SP_ExchangeRate"}, inplace=True)

In [221]:
output

,SP_BookingNumber,SP_Destination,SP_PaidCurrency,SP_Paid,SP_TourDate,SP_ExchangeRate,SP_ValueCalculated
0,S9999999,TST,CZK,100.00,2022-08-31,0.192800,19.280000
1,S9999999,TST,EUR,100.00,2022-08-31,4.726500,472.650000
2,S9999999,TST,GBP,100.00,2022-08-31,5.512600,551.260000
3,S9999999,TST,HUF,100.00,2022-08-31,0.011675,1.167500
4,S9999999,TST,RUB,100.00,2022-08-31,NaN,NaN
...,...,...,...,...,...,...,...
39190,W0005250,CHQ,PLN,364.61,2019-08-06,NaN,NaN
39191,W0005227,BCN,EUR,78.71,2019-09-11,4.335700,341.262947
39192,W0005214,TIA,PLN,486.15,2019-06-06,NaN,NaN
39193,W0005168,RKV,PLN,1111.2,2019-06-15,NaN,NaN
39194,W0005160,OTP,PLN,2391.86,2019-05-29,NaN,NaN

In [222]:
new_cols = [col for col in output.columns if col != 'SP_ExchangeRate'] + ['SP_ExchangeRate']
output = output[new_cols]

In [223]:
output

,SP_BookingNumber,SP_Destination,SP_PaidCurrency,SP_Paid,SP_TourDate,SP_ValueCalculated,SP_ExchangeRate
0,S9999999,TST,CZK,100.00,2022-08-31,19.280000,0.192800
1,S9999999,TST,EUR,100.00,2022-08-31,472.650000,4.726500
2,S9999999,TST,GBP,100.00,2022-08-31,551.260000,5.512600
3,S9999999,TST,HUF,100.00,2022-08-31,1.167500,0.011675
4,S9999999,TST,RUB,100.00,2022-08-31,NaN,NaN
...,...,...,...,...,...,...,...
39190,W0005250,CHQ,PLN,364.61,2019-08-06,NaN,NaN
39191,W0005227,BCN,EUR,78.71,2019-09-11,341.262947,4.335700
39192,W0005214,TIA,PLN,486.15,2019-06-06,NaN,NaN
39193,W0005168,RKV,PLN,1111.2,2019-06-15,NaN,NaN
39194,W0005160,OTP,PLN,2391.86,2019-05-29,NaN,NaN

In [224]:
output[output['SP_BookingNumber'] == 'S0064828']

,SP_BookingNumber,SP_Destination,SP_PaidCurrency,SP_Paid,SP_TourDate,SP_ValueCalculated,SP_ExchangeRate
2154,S0064828,HRG,EUR,207.97,2021-12-28,957.244316,4.6028
2155,S0064828,HRG,EUR,126.04,2022-01-01,NaN,NaN
2156,S0064828,HRG,EUR,252.1,2021-12-26,NaN,NaN

In [225]:
output[output['SP_BookingNumber'] == 'S0042606']

,SP_BookingNumber,SP_Destination,SP_PaidCurrency,SP_Paid,SP_TourDate,SP_ValueCalculated,SP_ExchangeRate
20341,S0042606,HRG,EUR,626.14,2021-01-03,NaN,NaN

In [226]:
output[output['SP_BookingNumber'] == 'S0029001']

,SP_BookingNumber,SP_Destination,SP_PaidCurrency,SP_Paid,SP_TourDate,SP_ValueCalculated,SP_ExchangeRate
25415,S0029001,ZNZ,EUR,6082.43,2020-01-03,25892.296267,4.2569

In [227]:
output[output['SP_BookingNumber'] == 'S0000258']

,SP_BookingNumber,SP_Destination,SP_PaidCurrency,SP_Paid,SP_TourDate,SP_ValueCalculated,SP_ExchangeRate
39099,S0000258,ZTH,EUR,256.96,2019-06-05,1099.326272,4.2782